<?xml version="1.0" encoding="utf-8" ?>
<!-- backup=false required for AspectMock -->
<phpunit bootstrap="./tests/bootstrap.php" backupGlobals="false">
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
